:root {
  --color-primary: #127e83;
  --color-line: #dddddd;
  --color-shadow: #dddddd;
  --text-dim: #797874;
  --text-base: #000000;
  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --text-base: 0;
}

/*
* === Resets ===
*/
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

section {
  max-width: 65ch;
  margin: 5vh auto;
  padding: 0 var(--space-6);
}

hr {
  border: none;
  height: 1px;
  background: var(--color-line);
  margin: var(--space-6) 0;
}

/*
* === Lists ===
*/
ul li {
  list-style: none;
  margin-bottom: var(--space-4);
}

/*
* === Typography ===
*/
h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

/*
* === Buttons ===
*/
button {
  background: #ffffff;
  border-radius: var(--space-1);
  border: thin solid var(--color-line);
  box-shadow: 0 1px 0px 0px var(--color-shadow);
  color: var(--text-dim);
  font-weight: 600;
  padding: var(--space-2) var(--space-4);

  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0 2px 8px 0px var(--color-shadow);
}

/*
* === Forms ===
*/
label {
  font-weight: normal;
}
