:root {
  --color-error: #d34343;
  --color-primary: #127e83;
  --color-line: #dddddd;
  --color-shadow: #dddddd;
  --text-dim: #797874;
  --text-base: #000000;
  --star-empty: #e0e0e0;
  --star-full: #fece6e;
  --star-focus: #f1be59;
  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  /* Layered box shadow. A bit smoother than a single shadow. */
  --shadow-raised: 0 4px 2px rgba(0, 0, 0, 0.04), 0 8px 4px rgba(0, 0, 0, 0.04),
    0 16px 8px rgba(0, 0, 0, 0.04), 0 32px 16px rgba(0, 0, 0, 0.04),
    0 32px 32px rgba(0, 0, 0, 0.01), 0px -16px 32px rgba(0, 0, 0, 0.04);
}

/*
* === Resets ===
*/
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

section {
  max-width: 65ch;
  margin: 5vh auto;
  padding: 0 var(--space-6);
}

hr {
  border: none;
  height: 1px;
  background: var(--color-line);
  margin: var(--space-6) 0;
}

input[type="text"] {
  padding: var(--space-2) 0;
  border: none;
}

input[type="text"]:hover:not(:focus) {
  /* pseudo-border used to avoid awkward padding overrides when focused */
  box-shadow: 0px 2px 0px 0px var(--color-line);
}

input[type="text"]:focus {
  outline: none;
  /* pseudo-border used to avoid awkward padding overrides when focused */
  box-shadow: 0px 2px 0px 0px var(--color-primary);
}

/*
* === Lists ===
*/
ul li {
  list-style: none;
  margin-bottom: var(--space-4);
  font-size: 1rem;
}

/*
* === Typography ===
*/
p {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

label {
  font-weight: normal;
}

input {
  font-size: 1rem;
}

/*
* === Buttons ===
*/
button {
  font-size: inherit;
  background: #ffffff;
  border-radius: var(--space-1);
  border: thin solid var(--color-line);
  box-shadow: 0 1px 0px 0px var(--color-shadow);
  color: var(--text-dim);
  font-weight: 600;
  padding: var(--space-2) var(--space-4);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

button:disabled {
  cursor: not-allowed;
}

button:disabled:hover {
  box-shadow: none;
}

button:hover {
  box-shadow: 0 2px 8px 0px var(--color-shadow);
}

button:focus-visible {
  /* Remove the default browser outline, but add a suitable alternative  */
  outline: 2px solid var(--color-primary);
}

button:hover:focus:not(:focus-visible) {
  box-shadow: none;
  transform: translateY(1px);
}

button.link {
  /*
    Used to make a button look like a link.
    Note that anchor tags should always be used for cross-page navigation,
    but this works for our SPA demo.
  */
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  font-weight: normal;
  outline-offset: var(--space-1);
  padding: 0;
}

button.link:hover {
  text-decoration: underline;
}

/*
* === Stars ===
*/
.star {
  width: 28px;
  height: 28px;
}

.star:not(:last-of-type) {
  margin-right: var(--space-1);
}

.star-half {
  width: 14px;
  height: 28px;
}

/*
* === Star input ===
*/
.star-input {
  display: inline-flex;
}

.star-input label {
  cursor: pointer;
}

.star-input svg {
  padding: var(--space-1);
}

.star-input-option-left svg {
  padding-right: 0;
}

.star-input-option-right svg {
  padding-left: 0;
}

.star-input:focus-within svg use {
  fill: var(--star-empty);
}

/* When hovering over the star row, all stars should appear full */
.star-input:hover svg use {
  fill: var(--star-full);
}

/* All stars after the hovered or focused one should appear empty */
.star-input:focus-within .star-input-option:focus ~ .star-input-option svg use,
.star-input .star-input-option:hover ~ .star-input-option svg use {
  fill: var(--star-empty);
}

/*
  All inputs with a `selected` class should appear full
  Note: this class is dynamically added by the star input JS.
*/
.star-input input.selected + label svg use {
  fill: var(--star-full);
}

/* When focusing or hovering a star, make it slightly darker than the full color */
.star-input input:hover + label svg use,
.star-input input:focus + label svg use {
  fill: var(--star-focus);
}

/*
* === Review summary ===
*/
.review-summary .average-rating {
  font-size: 2rem;
  margin-right: var(--space-4);
}

/*
* === Review ===
*/
.review-stars {
  margin-right: var(--space-4);
}

/*
* === Dialog (radix-ui) ===
*/

.dialog-content {
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: var(--shadow-raised);
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: var(--space-8);
}

.dialog-overlay {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.8;
}
